<div class="container" *ngIf="currencyList.length > 0">
  <div class="d-inline-flex justify-content-center">
    <app-currency-input
      name="from-currency-input"
      [currencyList]="currencyList"
      [amount]="fromAmount"
      (currencyChange)="onCurrencyUpdate('from', $event)"
      (amountUpdate)="onAmountUpdate('from', $event)"
    ></app-currency-input>
  </div>
  <br />
  <h3>To</h3>
  <br />
  <div class="d-inline-flex justify-content-center">
    <app-currency-input
      name="to-currency-input"
      [currencyList]="currencyList"
      [amount]="toAmount"
      (currencyChange)="onCurrencyUpdate('to', $event)"
      (amountUpdate)="onAmountUpdate('to', $event)"
    ></app-currency-input>
  </div>
</div>
