:host{
    .container{
        font-family: ui-sans-serif;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        padding: 65px;
        text-align: center;
        background-color: #f1f1f1;
        cursor: pointer;
    }
}