:host{
    .container{
        font-family: ui-sans-serif;
        width: 100%;
        height: 120px;
        margin-bottom: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 40px;
        text-align: center;
        background-color: #f1f1f1;
        cursor: pointer;
    }
}