<div class="container">
  <div class="d-inline-flex justify-content-center" >
    <input type="number" name="currency-input" (input)="onAmountUpdate()" [(ngModel)]="amount" />
    <select
      class="form-control"
      (change)="onCurrencyChange()"
      [(ngModel)]="selectedCurrency"
    >
      <option *ngFor="let currency of currencyList" [ngValue]="currency">{{ currency.name }}</option>
    </select>
  </div>
</div>
